/* Style the body */
body
{
  font-family: 'Inconsolata', monospace;
  font-size: 23px;
  color: black;
  overflow: visible;
  background-color: rgb(245, 255, 183);
  margin:  auto;
  padding: 5px;
}
/*Style the footer*/
.crfooter
{

  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
.title_navbar, .title_navbar a
{
  overflow: hidden;
  color: black;
  font-size: 25px;
  text-decoration: none;
}
/*Style the navigation bar of portfolio*/
a
{
  overflow: hidden;
  color: black;
  font-size: 20px;
  text-decoration: none;
}
/*Style for sam_intro*/
.bodystyle,.bodystyle a
{
 font-size: 1rem;
 text-align: left;
 color: black;
 margin-block-start: 1em;
 margin-block-end: 1em;
 line-height: 1.3em;
 margin-left: 200px;
 text-decoration: none;
}
.centerimage
{
text-align:center;
display:block;
}
table
{
  font-size: 20px;
}
caption
{
  font-size: 20px;
  font-style: oblique;
}
